<tr>
  <td class="middle">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading"><%= @audiencias.expediente.expediente %></h4>
        <address>
          <strong><%= @audiencias.expediente.demandante %> vs <%= @audiencias.expediente.demandado %></strong><br>
          <p><%= @audiencias.expediente.entidad_responsable %></p>
          <p><%= @audiencias.expediente.estado_procesal %></p>
          <p>Fecha inicio audiencia: <%= @audiencias.fecha.strftime("%F %T") %></p>
          <p>Fecha fin audiencia: <%= @audiencias.fecha_fin.strftime("%F %T") if !@audiencias.fecha_fin.nil? %></p>
        </address>
      </div>
    </div>
  </td>
  <td width="100" class="middle">
    <div>
      <a href="#" class="btn btn-circle btn-default btn-xs" title="Edit">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a href="#" class="btn btn-circle btn-danger btn-xs" title="Edit">
        <i class="glyphicon glyphicon-remove"></i>
      </a>
    </div>
  </td>
</tr>