 <% @prox_audiencias = Expediente.proximas_audiencias  %>
 
<div class="list-group">
    <% active = params[:entidad_responsable_id] == nil || params[:entidad_responsable_id].empty? ? 'active' : '' %>
    <%= puts active %>
  	<%= link_to expedientes_path, class: "list-group-item #{active}" do %>
  		Expedientes <span class="badge"><%= Expediente.all.count %></span>
  	<% end %>
  	
    <% tot_prox_audiencias = 0 %>
  	<% @prox_audiencias.each do |a| %>
  		<% tot_prox_audiencias = tot_prox_audiencias + a.count %>
  	<% end %>

  	<%= link_to root_path, class: "list-group-item #{active}" do %>
  		Próximas Audiencias <span class="badge"><%= tot_prox_audiencias %></span>
  	<% end %>	
  	
    
  	<% @prox_audiencias.each do |a| %>
      <% active = params[:entidad_responsable_id].to_i == a.entidad_responsable_id ?  'active' : '' %>
      <%= link_to inicio_path(entidad_responsable_id: a.entidad_responsable_id), class: "list-group-item #{active}" do %>
		    <%= a.entidad_responsable.nombre.upcase  %><span class="badge"><%= a.count %></span>	</span>
      <% end %>
	 <% end %>
</div>

 

	