 <% @prox_audiencias = Expediente.proximas_audiencias  %>
 <% @links = Link.all %>
 
<div class="list-group">
    <% active = params[:entidad_responsable_id] == nil || params[:entidad_responsable_id].empty? ? 'active' : '' %>
     
  	<%= link_to expedientes_path, class: "list-group-item #{active}" do %>
  		EXPEDIENTES <span class="badge"><%= Expediente.all.count %></span>
  	<% end %>
  	
    <% tot_prox_audiencias = 0 %>
  	<% @prox_audiencias.each do |a| %>
  		<% tot_prox_audiencias = tot_prox_audiencias + a.count %>
  	<% end %>

  	<%= link_to root_path, class: "list-group-item #{active}" do %>
  		PRÓXIMAS AUDIENCIAS <span class="badge"><%= tot_prox_audiencias %></span>
  	<% end %>	
  	
    
  	<% @prox_audiencias.each do |a| %>
      <% active = params[:entidad_responsable_id].to_i == a.entidad_responsable_id ?  'active' : '' %>
      <%= link_to inicio_path(entidad_responsable_id: a.entidad_responsable_id), class: "list-group-item #{active}"  do %>
		    <%= a.entidad_responsable.nombre.upcase  %><span class="badge"><%= a.count %></span>
      <% end %>
	 <% end %>

<br>

 <div class="links">
  <span class="list-group-item active">LINKS EXTERNOS </span>
  <% @links.each do |link| %>
    <%= link_to link.link , class: "list-group-item", onclick: "return check('#{link.link}');", target: "_blank" do %>
      <%= link.entidad.humanize %><span class="badge"><i class="glyphicon glyphicon-link"></i></span>
    <% end %>
  <% end %>
  </div>
</div>
 

	<a href="#" onclick="this.style.backgroundColor='#009900';this.style.color='#FFFFFF';">Paint it green</a>

  <script>
    var check = function(valor ) {
    console.log(valor);
    $.ajax({
      type: "POST",
      url: "/audit_logs/",
      data: {
        archivo: valor,
        accion: 'Consulta link Externo',
         
      },
      error: function(error) {
            console.log(error);
            return false;
          },
  success: function(data) {
             console.log(data);
             return false;
          },

    })


}
  </script>