<% @inicio_semana = Date.today %>
<% @fin_semana = @inicio_semana + 7.days %>

<% @prox_audiencias = Expediente.find_by_sql("select t1.entidad_responsable, count(t1.entidad_responsable) from expedientes t1, audiencia_expedientes t2 where  t2.expediente_id = t1.id and t2.fecha >= '#{@inicio_semana}' and t2.fecha <= '#{@fin_semana}' GROUP BY t1.entidad_responsable" )  %>
 
 


<div class="list-group">
   
  	<%= link_to expedientes_path, class: "list-group-item active" do %>
  		Expedientes <span class="badge"><%= Expediente.all.count %></span>
  	<% end %>
  	<% tot_prox_audiencias = 0 %>
  	<% @prox_audiencias.each do |a| %>
  		<% tot_prox_audiencias = tot_prox_audiencias + a.count %>
  	<% end %>

  	<%= link_to audiencias_path, class: "list-group-item active" do %>
  		Próximas Audiencias <span class="badge"><%= tot_prox_audiencias %></span>
  	<% end %>	
  	
  	<% @prox_audiencias.each do |a| %>
		 <span class= "list-group-item"><%= a.entidad_responsable  %><span class="badge"><%= a.count %></span>	</span>
		 <% tot_prox_audiencias = tot_prox_audiencias + a.count %>
	<% end %>
</div>



	