<div class="nested-fields">
  <p>
	<div class="row">
		<div class="col-md-2">
       <%= f.datetime_field :fecha, placeholder: 'Fecha y Hora', date_format: 'YYYY-MM-DD hh:mm', class: "form-control" %>
  	</div>
  		<div class="col-md-3">
  			<%= f.text_field :asignado, placeholder: 'Asignado a', size: 40, class: "form-control" %>
  		</div>
  		<div class="col-md-4">
  			<%= f.text_area :comentarios, placeholder: 'comentarios', cols: 50, rows: 2, class: "form-control"  %>
  		</div>
      <div class="col-md-2">
        Estatus:&nbsp;  
        <%= f.collection_select :estatus_audiencia_id, EstatusAudiencia.order(:estatus),:id,:estatus, include_blank: true %> 
      </div>
      <div class="col-md-1"><%= link_to_remove_association 'Eliminar', f, class: "btn btn-danger" %></div>
  	</div>
  </p>
</div>     


<script type="text/javascript">
  $(function () {
    $('#datetimepicker').datetimepicker();
  });
</script>