<%= form_with(model: expediente, local: true) do |form| %>
  <% if @expediente.errors.any? %>
      <% @expediente.errors.full_messages.each do |message| %>
         <%= js add_gritter(message, title: "Expedientes", sticky: false) %>
      <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit "Guardar", class: "btn btn-primary btn-md", size: 50 %>
    <%= link_to 'Expedientes', expedientes_path, class: "btn btn-info btn-md", size: 50 %>
    <%= link_to 'Regresar', expediente, class: "btn btn-success btn-md", size: 50 %>
  </div><hr>

  <div class="row">
  	<div class="col-md-1">
    	<%= form.text_field :anio, placeholder: 'Año', :autofocus => true, class: "form-control" %>
	</div>

	<div class="col-md-2">
    	<%= form.text_field :expediente, placeholder: 'Número de Expediente', class: "form-control" %>
	</div>

	<div class="col-md-4">
    	<%= form.text_field :demandante, placeholder: 'Demandante', class: "form-control" %>
	</div>

	<div class="col-md-4">
    	<%= form.text_field :demandado, placeholder: 'Demandado', class: "form-control" %>
	</div>
  </div>
<br>
  <div class="row">
    <div class="col-md-3">
      <%= form.label 'Cliente' %>&nbsp;
      <%= form.select(:cliente, [['Demandante', 'demandante'], ['Demandado', 'demandado']] ) %>
    </div>

	  <div class="col-md-4">
      <%= form.label 'Abogado' %>&nbsp;
      <%= form.collection_select :socio, Abogado.order(:nombre),:nombre,:nombre, include_blank: true, class: "form-control" %> 
	  </div>
     
    <div class="col-md-2"> 
    <%= form.label 'Instancia' %>&nbsp;&nbsp;
      <%= form.collection_select :entidad_responsable_id, EntidadResponsable.order(:nombre),:id,:nombre, include_blank: true %>  
    </div>
  </div><br>
  
  <div class="row">
  	<div class="col-md-1">Referencias</div>
  	<div class="col-md-2">
    	<%= form.text_field :referencia1, placeholder: 'Referencia 1', class: "form-control" %>
    </div>
    <div class="col-md-2">
    	<%= form.text_field :referencia2, placeholder: 'Referencia 2', class: "form-control" %>
    </div>
    <div class="col-md-2">
    	<%= form.text_field :referencia3, placeholder: 'Referencia 3', class: "form-control" %>
  </div>
</div>

  <div class="row">
	<hr> 
	<div class="col-md-2">
    	<%= form.text_field :ubicacion_fisica, placeholder: 'Ubicación Física', class: "form-control" %>
	</div>

	<div class="col-md-2">
    	<%= form.text_field :despacho, placeholder: 'Despacho' , class: "form-control"%>
	</div>

	<div class="col-md-2">
    <%= form.text_field :archivo, placeholder: 'Nombre de Archivo', class: "form-control" %>
  </div>
   
  <div class="col-md-2">
    <%= form.text_field :recomendado, placeholder: '¿Quién recomienda?', class: "form-control" %>
  </div>
  <div class="col-md-2">
    <%= form.text_field :en_sociedad, placeholder: 'En sociedad con...', class: "form-control" %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <%= form.text_area :comentarios, placeholder: 'Comentarios', cols:150, rows: 2, class: "form-control" %>
  </div>
</div>  
<hr>

  <h4>AUDIENCIAS</h4>

  <div class="row">
    <%= form.fields_for :audiencia_expedientes do |audiencia| %>
      <%= render 'audiencia_expediente_fields', f: audiencia %>
    <% end %>
   
  <div>    
    <%= link_to_add_association 'Agregar Audiencia', form, :audiencia_expedientes, class:'btn btn-primary btn-md' %>
  </div>
  </div>

<hr>
<h4>RESUMEN</h4>  
  <div class="row"> 
    <%= form.fields_for :resumen_expedientes do |resumen| %>
      <%= render 'resumen_expediente_fields', f: resumen %>
    <% end %>
  
 
  <div>    
    <%= link_to_add_association 'Agregar Resumen', form, :resumen_expedientes, class:'btn btn-primary btn-md' %>
  </div>
  </div>

  <h4>RESUMEN INSTANCIA</h4>  
  <div class="row"> 
    <%= form.fields_for :resumen_links do |resumen_instancia| %>
      <%= render 'resumen_link_fields', f: resumen_instancia %>
    <% end %>
  
 
  <div>    
    <%= link_to_add_association 'Agregar Resumen instancia', form, :resumen_links, class:'btn btn-primary btn-md' %>
  </div>
  </div>

<% end %>