<%= form_with(model: expediente, local: true) do |form| %>
  <% if @expediente.errors.any? %>
      <% @expediente.errors.full_messages.each do |message| %>
         <%= js add_gritter(message, title: "Expedientes", sticky: false) %>
      <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit "Guardar", class: "btn btn-primary btn-md", size: 50 %>
    <%= link_to 'Expedientes', expedientes_path, class: "btn btn-info btn-md", size: 50 %>
    <%= link_to 'Regresar', expediente, class: "btn btn-success btn-md", size: 50 %>
  </div><hr>

  <div class="row">
  	<div class="col-md-1">
    	<%= form.text_field :anio, placeholder: 'Año', :autofocus => true, class: "form-control" %>
	</div>

	<div class="col-md-2">
    	<%= form.text_field :expediente, placeholder: 'Número de Expediente', class: "form-control" %>
	</div>

	<div class="col-md-4">
    	<%= form.text_field :demandante, placeholder: 'Demandante', class: "form-control" %>
      <% # aqui va a ir el boton para crear los clientes  %>
	</div>

	<div class="col-md-4">
    	<%= form.text_field :demandado, placeholder: 'Demandado', class: "form-control" %>
	</div>
  </div>
<br>
  <div class="row">
    <div class="col-md-4">
      <%= form.label 'Cliente' %>&nbsp;
      <%= form.select(:cliente, [['Demandante', 'demandante'], ['Demandado', 'demandado']], { prompt: "Seleccione Abogado"} , {class: 'form-control'} ) %>
    </div>

	  <div class="col-md-4">
      <%= form.label 'Abogado' %>&nbsp;
       <%= form.collection_select(:socio,  Abogado.order(:nombre), :nombre, :nombre, { prompt: "Seleccione Abogado"} , {class: 'form-control'}) %> 
	  </div>
     
    <div class="col-md-3"> Instancia:&nbsp;
       <%= form.collection_select(:entidad_responsable_id,  EntidadResponsable.order(:nombre), :id, :nombre, { prompt: "Seleccione entidad responsable"} , {class: 'form-control'}) %> 
    </div>
    
       
      <%= form.hidden_field :estatus_procesal_id, :value => 1 %>
	   
  </div><br>
  
  <div class="row">
  	<div class="col-md-1">Referencias</div>
  	<div class="col-md-2">
    	<%= form.text_field :referencia1, placeholder: 'Referencia 1', class: "form-control" %>
    </div>
    <div class="col-md-2">
    	<%= form.text_field :referencia2, placeholder: 'Referencia 2', class: "form-control" %>
    </div>
    <div class="col-md-2">
    	<%= form.text_field :referencia3, placeholder: 'Referencia 3', class: "form-control" %>
  </div>
</div>

  <div class="row">
	<hr> 
	<div class="col-md-4">Ubicación Física:&nbsp;
      <%= form.collection_select(:location,  Location.order(:alias), :alias, :alias, { prompt: "Seleccione una ubicación"} , {class: 'form-control'}) %> 
	</div>

	<div class="col-md-2">
    <%= form.text_field :archivo, placeholder: 'Nombre de Archivo', class: "form-control" %>
  </div>
   
  <div class="col-md-2">
    <%= form.text_field :recomendado, placeholder: '¿Quién recomienda?', class: "form-control" %>
  </div>
  <div class="col-md-2">
    <%= form.text_field :en_sociedad, placeholder: 'En sociedad con...', class: "form-control" %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <%= form.text_area :comentarios, placeholder: 'Comentarios', cols:150, rows: 2, class: "form-control" %>
  </div>


  <!--  Aqui empieza la gestion de documentos Para expedientes -->
   <div class="col-md-5">
   <h3>Documentos Anexos</h3>
      <% if @expediente.documentos.attached? %>
        <% @expediente.documentos.each do |upload| %>
            <div class="col-md-9">
              <% nombre_archivo = upload.filename.to_s  %>
              <%= link_to nombre_archivo.truncate(25), upload, target: '_blank' %> <br/>
            </div>
            <div class="col-md-1">
                <p><%= link_to expediente_delete_upload_documentos_path(:expediente_id => @expediente.id, 
                                  :documentos_id => upload.id), method: :delete, 
                                  data: { confirm: '¿Confirma Eliminar Archivo?' } do  %>
                      <i class="btn btn-danger btn-sm glyphicon glyphicon-trash"></i>
                <% end %>    </p>            
            </div>
           
        <% end %> 
      <% else %>
        <div class="col-md-9">
          <strong>Sin documentos anexos</strong>
        </div>
      <% end %>
      <div class="col-md-12">
        <br>
          <%= form.file_field :documentos, multiple: true, class: 'form-control' %>
      </div>
  </div>
  <!-- Aqui termina la gestion de documentos para expedientes -->
   
</div>
<hr>

  <h4>AUDIENCIAS</h4>

  <div class="row">
    <%= form.fields_for :audiencia_expedientes do |audiencia| %>
      <%= render 'audiencia_expediente_fields', f: audiencia %>
    <% end %>
   
  <div>    
    <%= link_to_add_association 'Agregar Audiencia', form, :audiencia_expedientes, class:'btn btn-primary btn-md' %>
  </div>
  </div>

<hr>
<h4>RESUMEN EXPEDIENTE</h4>
  <div class="row"> 
    <%= form.fields_for :resumen_expedientes do |resumen| %>
      <%= render 'resumen_expediente_fields', f: resumen %>
    <% end %>
  
 
  <div>    
    <%= link_to_add_association 'Historia Estado Procesal', form, :resumen_expedientes, class:'btn btn-primary btn-md' %>
  </div>
  </div>

  <h4>RESUMEN INSTANCIA</h4>  
  <div class="row"> 
    <%= form.fields_for :resumen_links do |resumen_instancia| %>
      <%= render 'resumen_link_fields', f: resumen_instancia %>
    <% end %>
  
 
  <div>    
    <%= link_to_add_association 'Agregar Resumen instancia', form, :resumen_links, class:'btn btn-primary btn-md' %>
  </div>
  </div>

<% end %>