<div class="nested-fields">
    <p>
        <div class="row">
            <% if logged_in?( :admin) %>
                <div class="col-md-1"><%= link_to_remove_association '', f, class: "btn btn-danger glyphicon glyphicon-trash" %></div>
            <% end %>
            <div class="col-md-2">
                <%= f.date_field :fecha_notificacion, placeholder: 'Fecha notificación', date_format: 'YYYY-MM-DD hh:mm', class: "form-control" %>
            </div>
            <div class="col-md-3">
                <%= f.collection_select(:estatus_procesal_id,  EstatusProcesal.order(:estatus), :id, :estatus, { prompt: "Seleccione estatus despacho"} , {class: 'form-control'}) %> 
            </div>	 
            <div class="col-md-5">
  	            <%= f.text_area :comentarios, placeholder: 'Comentarios', cols: 10, rows: 2, class: "form-control"  %>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6">
                <%= f.file_field :escrito %>
            </div>
        </div> 
    </p>
</div>   