 <div class="row">
	<div class="col-md-6">
		<h3>Número Expediente: <%= @expediente.expediente %>&nbsp;&nbsp;Año: <%= @expediente.anio %></h3>
		<h4><%= @expediente.demandante  %> <strong>vs</strong> <%= @expediente.demandado %></h4>
		<h5>INSTANCIA:&nbsp;<%= @expediente.entidad_responsable.nombre.upcase %> </h5>
		<h5>ESTADO PROCESAL:&nbsp;<%= @expediente.resumen_expedientes.last.estatus_procesal.estatus.upcase %></h5>

	</div>
	<div class="col-md-6">
		<h4>EXPEDIENTE</h4>
		<p>Ubicación: <%= @expediente.ubicacion_fisica.upcase %>, <%= @expediente.despacho.upcase %></p>
		<p>Responsable: <%= @expediente.socio %></p>
		<p>Recomendado: <%= @expediente.recomendado %></p>
		<p>Sociedad: <%= @expediente.en_sociedad %></p>
		 
		<% if !@expediente.referencia1.nil? %>
			<h5>Referencias</h5>
			<p><%= @expediente.referencia1.upcase %> </p>
		<% end %>
		<% if !@expediente.referencia2.nil? %>
			<p><%= @expediente.referencia2.upcase %> </p>
		<% end %>
		<% if !@expediente.referencia3.nil? %>
			<p><%= @expediente.referencia3.upcase %> </p>
		<% end %>
		<p>COMENTARIOS: <%= @expediente.comentarios.to_s.upcase %></p>
		
	</div>
</div>	 

<hr>
<h3> Audiencias </h3>

<table class="table">
	<thead>
   		<tr>
     		<th>Fecha inicio</th>
			<th>Fecha término</th>
     		<th>Expediente</th>
     		<th>Instancia</th>
     		<th>Asignado</th>
     		<th>Motivo de audiencia</th>
			<th>Estatus</th>
     		
   		</tr>
  	</thead>
		
	<tbody>
		<% @expediente.audiencia_expedientes.order(:fecha).each do |audiencia| %>
			<tr>
				<td><%= audiencia.fecha.strftime("%d/%m/%Y %H:%M:%S") if !audiencia.fecha.nil? %></td>
				<td><%= audiencia.fecha_fin.strftime("%d/%m/%Y %H:%M:%S") if !audiencia.fecha_fin.nil? %></td>
				<td><%= audiencia.expediente.expediente %></td> 
				<td><%= audiencia.expediente.entidad_responsable.nombre %></td>
				<td><%= audiencia.asignado.upcase if !audiencia.asignado.nil? %></td>
				<% if audiencia.comentarios.nil? %>
					<td><%= audiencia.comentarios %></td>
				<% else %>
					<td><%= audiencia.comentarios.upcase %></td>
				<% end %>
				<td><%= audiencia.estatus_audiencia.estatus.upcase %>
				
			</tr>
		<% end %>
	</tbody>
</table>

<h3> Histórico Estado Procesal de Expediente </h3>

<table class="table">
	<thead>
   		<tr>
     		<th>Fecha notificación</th>
     		<th>Motivo notificación</th>
			 <th>Estado procesal</th>
   		</tr>
  	</thead>
		
	<tbody>
		<% @expediente.resumen_expedientes.order(:fecha_notificacion).each do |resumen| %>
			<tr>
				<td><%= resumen.fecha_notificacion.strftime("%d/%m/%Y") if !resumen.fecha_notificacion.nil? %></td>
				<% if resumen.comentarios.nil? %>
					<td><%= resumen.comentarios %></td>
				<% else %>
					<td><%= resumen.comentarios.upcase %></td>
				<% end %>
				<td><%= resumen.estatus_procesal.estatus %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<h3> Resumen de situaciones Instancia Responsable </h3>

<table class="table">
	<thead>
   		<tr>
     		<th>Fecha publicación</th>
     		<th>Acción</th>
			 <th>Comentarios</th>
   		</tr>
  	</thead>
		
	<tbody>
		<% @expediente.resumen_links.order(:fecha_publicacion).each do |links| %>
			<tr>
				<td><%= links.fecha_publicacion.strftime("%d/%m/%Y") if !links.fecha_publicacion.nil? %></td>
				<% if links.comentarios.nil? %>
					<td><%= links.comentarios %></td>
				<% else %>
					<td><%= links.comentarios.upcase %></td>
				<% end %>
				<td><%= links.accion_instancium.accion %></td>
			</tr>
		<% end %>
	</tbody>
</table>

 	
<%= link_to "Modificar", edit_expediente_path(@expediente), class: "btn btn-success btn-md" %>
<%= link_to 'Expedientes', expedientes_path, class: "btn btn-info btn-md" %>
