<%= link_to "Modificar", edit_expediente_path(@expediente), class: "btn btn-success btn-md" %>
<%= link_to 'Expedientes', expedientes_path, class: "btn btn-primary btn-md" %>
  

 <div class="row">
	<div class="col-md-6">
		<h3 class="btn btn-info btn-lg">Número Expediente: <%= @expediente.expediente %>&nbsp;&nbsp;Año: <%= @expediente.anio %></h3>
		<h4><%= @expediente.demandante.upcase  %> <strong>vs</strong> <%= @expediente.demandado.upcase %></h4>
		<h5>INSTANCIA:&nbsp;<%= @expediente.entidad_responsable.nombre.upcase %> </h5>
		<h5 class="btn btn-danger">ESTADO PROCESAL:&nbsp;<%= @expediente.resumen_expedientes.order('fecha_notificacion ASC').last.estatus_procesal.estatus.upcase %></h5>

	</div>
	<div class="col-md-6">
		<h4>EXPEDIENTE</h4>
		<% if !@expediente.location.nil? %>
			<p>Ubicación: <%= @expediente.colonia(@expediente.location).upcase + ' ' + @expediente.location %> </p>
		<% end %>
		<p>Responsable: <%= @expediente.socio %></p>
		<p>Recomendado: <%= @expediente.recomendado %></p>
		<p>Sociedad: <%= @expediente.en_sociedad %></p>
		 
		<% if !@expediente.referencia1.nil? %>
			<h5>Referencias</h5>
			<p><%= @expediente.referencia1.upcase %> </p>
		<% end %>
		<% if !@expediente.referencia2.nil? %>
			<p><%= @expediente.referencia2.upcase %> </p>
		<% end %>
		<% if !@expediente.referencia3.nil? %>
			<p><%= @expediente.referencia3.upcase %> </p>
		<% end %>
		<p>COMENTARIOS: <%= @expediente.comentarios.to_s.upcase %></p>
		
	 
 <h4>Documentos Anexos</h4>
	<% if @expediente.documentos.attached? %>
        <% @expediente.documentos.each do |documento| %>
              <% nombre_archivo = documento.filename.to_s  %>
              <%= link_to nombre_archivo.truncate(25), documento, target: '_blank' %> <br/>
             
			<% end %>
	<% end %>
</div>
<hr>
</div>

<div class="card audiencias">
<h3> Audiencias </h3>

<table class="table">
	<thead>
   		<tr>
     		<th>Fecha inicio</th>
			<th>Fecha término</th>
     		<th>Expediente</th>
     		<th>Instancia</th>
     		<th>Asignado</th>
     		<th>Motivo de audiencia</th>
			<th>Estatus</th>
			<th>Anexos</th>
     		
   		</tr>
  	</thead>
		
	<tbody>
		<% @expediente.audiencia_expedientes.order(:fecha).each do |audiencia| %>
			<tr>
				<td><%= audiencia.fecha.strftime("%d/%m/%Y %H:%M:%S") if !audiencia.fecha.nil? %></td>
				<td><%= audiencia.fecha_fin.strftime("%d/%m/%Y %H:%M:%S") if !audiencia.fecha_fin.nil? %></td>
				<td><%= audiencia.expediente.expediente %></td> 
				<td><%= audiencia.expediente.entidad_responsable.nombre %></td>
				<td><%= audiencia.asignado.upcase if !audiencia.asignado.nil? %></td>
				<% if audiencia.comentarios.nil? %>
					<td><%= audiencia.comentarios %></td>
				<% else %>
					<td><%= audiencia.comentarios.upcase %></td>
				<% end %>
				<td><%= audiencia.estatus_audiencia.estatus.upcase %></td>
				<% if audiencia.citatorio.attached? %>
					<td><%= link_to audiencia.citatorio.filename, audiencia.citatorio, target: '_blank' %> </td>
				<% end %>
				
			</tr>
		<% end %>
	</tbody>
</table>
</div>
<div class="mi_estado_procesal">
<h3> Histórico Estado Procesal de Expediente </h3>

<table class="table">
	<thead>
   		<tr>
     		<th>Fecha notificación</th>
			 <th>Estado procesal</th>
			 <th>Detalle</th>
			 <th>Anexos</th>
   		</tr>
  	</thead>
		
	<tbody>
		<% @expediente.resumen_expedientes.order(:fecha_notificacion).each do |resumen| %>
			<tr>
				<td><%= resumen.fecha_notificacion.strftime("%d/%m/%Y") if !resumen.fecha_notificacion.nil? %></td>
				<td><%= resumen.estatus_procesal.estatus %></td>
				<% if resumen.comentarios.nil? %>
					<td><%= resumen.comentarios %></td>
				<% else %>
					<td><%= resumen.comentarios.upcase %></td>
				<% end %>
				
				<% if resumen.escrito.attached? %>
					<td><%= link_to resumen.escrito.filename, resumen.escrito, target: '_blank' %> </td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>
</div>

<div class="entidad_estado_procesal">
<h3> Resumen de situaciones Instancia Responsable </h3>

<table class="table">
	<thead>
   		<tr>
     		<th>Fecha publicación</th>
     		<th>Acción</th>
			 <th>Comentarios</th>
   		</tr>
  	</thead>
		
	<tbody>
		<% @expediente.resumen_links.order(:fecha_publicacion).each do |links| %>
			<tr>
				<td><%= links.fecha_publicacion.strftime("%d/%m/%Y") if !links.fecha_publicacion.nil? %></td>
				<% if links.comentarios.nil? %>
					<td><%= links.comentarios %></td>
				<% else %>
					<td><%= links.comentarios.upcase %></td>
				<% end %>
				<td><%= links.accion_instancium.accion %></td>
			</tr>
		<% end %>
	</tbody>
</table>
 	</div>


 	
	
