<h2>Modificar Datos de Usuario</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :usuario %><br />
    <%= f.text_field :socio, autocomplete: "nombre-de-usuario" %>
  </div>

<p>
  <div class="field">
    <%= f.label :'contraseña' %> <i>(Dejar en blanco si no desea cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "nueva-contraseña" %>
    <% if @minimum_password_length %>
      <br />
      <em>mínimo&nbsp;<%= @minimum_password_length %> caracteres</em>
    <% end %>
  </div>
</p>
<p>
  <div class="field">
    <%= f.label :'confirmar contraseña' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "nueva-contraseña" %>
  </div>
</p>
<p>
  <div class="field">
    <%= f.label :'contraseña actual' %> <i>(necesaria para validar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "contraseña-actual" %>
  </div>
</p>  
</br>
<p>
  <div class="actions">
    <%= f.submit "Actualizar", class: "btn btn-success" %>
    <%= link_to "Cancelar", :back, class: "btn btn-danger" %>
  </div>
<% end %>
</p>


 