<h3><%= @expedientes.count %> Epedientes</h3>

<table class="table">
    <thead>
        <tr>
            <th>Expediente</th>
            <th>Instancia Responsable</th>
            <th>Situación Actual</th>
            <th>Situación Instancia</th>
            <th>Ultima audiencia</th>
        </tr>
    </thead>
    <tbody>
    <% @expedientes.each do |expediente| %>
        <tr>
           <td><%= link_to expediente.expediente, expediente  %></td>
           <td><%= expediente.entidad_responsable.nombre %></td>
           <% @estatus = ResumenExpediente.where(expediente_id: expediente.id).order("fecha_notificacion DESC").first  %>
           <% @instancia = ResumenLink.where(expediente_id: expediente.id).order("fecha_publicacion DESC").first %>
           <% @audiencia = AudienciaExpediente.where(expediente_id: expediente.id).order("fecha DESC").first %>
           <td><%= @estatus.estatus_procesal.estatus.to_s.upcase + ' (' + @estatus.fecha_notificacion.try(:strftime, "%d-%m-%Y").to_s + ') '  %></td>
           <% if !@instancia.nil? %>
               <td><%= @instancia.accion_instancium.accion.to_s.upcase + ' (' + @instancia.fecha_publicacion.try(:strftime, "%d-%m-%Y").to_s + ')'    %></td>
            <% else %>
               <td></td>
           <%end %>
           <% if !@audiencia.nil? %>
           <% ultima = @audiencia.fecha.try(:strftime, "%d-%m-%Y") %>
            <td><%= @audiencia.estatus_audiencia.estatus.upcase + ' (' + ultima.to_s + ') '  %>
            <% else %>
               <td></td>
            <% end %>

        </tr>
         <% end %>
    </tbody>

</table>
 