<% if @audiencias.blank? %>
  <div class="alert alert-warning">
    <strong>No existen registros</strong>
  </div> 
<% else %>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'compartidos/sidebar' %>
      </div><!-- /.col-md-3 -->
      
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="text-center">
            <%= paginate @audiencias %>
          </div><hr>
          <h3 class="text-center">Próximas Audiencias</h3><hr>
          <table class="table">
            <% @audiencias.each do |audiencia| %>
              <tr>
                <td class="middle">
                  <div class="media">
                    <div class="media-body">
                      <h4 class="media-heading"><%= link_to audiencia.expediente.expediente, audiencia.expediente %></h4>
                      <address>
                        <strong><%= audiencia.expediente.demandante %> vs <%= audiencia.expediente.demandado %></strong><br>
                        <p><%= audiencia.expediente.entidad_responsable %></p>
                        <p><%= audiencia.expediente.estado_procesal %></p>
                        <p>Fecha Audiencia: <%= audiencia.fecha.strftime("%F %T") %></p>
                      </address>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </table>            
        </div>
      </div>
    </div>
  </div>
<% end %>

 

 




