<%= form_for(@despacho, html: { multipart: true }, remote: local_assigns[:hide_buttons]) do |form| %>
<% if @despacho.errors.any? %>
      <% @despacho.errors.full_messages.each do |message| %>
         <%= js add_gritter(message, title: "Aviso", sticky: false) %>
      <% end %>
  <% end %>

<div class="field">
  <%= form.label :colonia %>
  <%= form.text_field :colonia, class: "form-control", placeholder: "Colonia", required: true %>
  <%= form.label :calle %>
  <%= form.text_field :calle, class: "form-control", placeholder: "Calle", required: true %>
  <%= form.label :numero %>
  <%= form.text_field :numero, class: "form-control", placeholder: "Número", required: true %>
  <p><%= form.label 'Abogado Responsable' %>&nbsp;
  <%= form.collection_select :abogado_id, Abogado.order(:nombre),:id,:nombre, include_blank: true,  class: "form-control" %> 
</p>
  
 

</div>
<h4>Ubicaciones</h4>

  <div class="row">
    <%= form.fields_for :locations do |location| %>
      <%= render 'location_fields', f: location %>
    <% end %>
   
  <div>    
    <%= link_to_add_association 'Agregar ubicación', form, :locations, class:'btn btn-primary btn-md' %>
  </div>
  </div>

  <br>
  <% unless local_assigns[:hide_buttons] %>
  <div class="actions">&nbsp;
    <%= button_tag(type: "submit", class: "btn btn-primary") do %>
      <span><i class="glyphicon glyphicon-pencil"></i> Guardar</span>
    <% end %>  
    <button type="button" class="btn btn-secondary" data-dismiss="modal">
      <span><i class="glyphicon glyphicon-list"></i></span>
      Catálogo
    </button>
  </div>
  <% end %>

<% end %>

 