<h4>Catálogo Situación de Audiencias </h4>
<div>
	<%= form_tag estatus_audiencias_path, method: :get do %>
  		<div class="input-group">
      		<%= text_field_tag 'term', params[:term], placeholder: "Ingrese criterio de búsqueda", class: "form-control" %>
      		<span class="input-group-btn">
            	<button class="btn btn-default" type="submit">
                	<i class="glyphicon glyphicon-search"></i>
            	</button>
        	</span>
    	</div><br>
    	<%= link_to new_estatus_audiencia_path, class: "btn btn-primary", remote: true  do %>
			<i class="glyphicon glyphicon-plus"></i>
				Agregar Estatus Audiencia
    	<% end %>
  <% end %>
</div>

<div class="modal" tabindex="-1" role="dialog" id="form-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="form-modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="form-modal-body">        
      </div>
    </div>
  </div>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Estado</th>	
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		<% @estatus_audiencias.each do |estatus| %>
			<tr>
				<td><%= estatus.estatus %></td>
				<td><%= link_to  edit_estatus_audiencia_path(estatus), class: "btn btn-info", remote: true  do %>
						<i class="glyphicon glyphicon-pencil"></i>
					<% end %>

					<%= link_to estatus, method: :delete, data:{ confirm: '¿Confirma eliminar el registro?'}, class: "btn btn-danger"  do %>
						<i class="glyphicon glyphicon-minus"></i>
					<% end %>
				</td>
			</tr>
		<% end %>

	</tbody>
</table>

